<!doctype html>
<html ng-app="twitterApp">
<head>
<meta charset="utf-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- Reset CSS -->
<link rel="stylesheet" href="css/reset.scss" />
<!-- Main CSS -->
<link rel="stylesheet" href="css/main.css" />
</head>
<body>

<div>

<div class="main-bg"></div>
    
<!-- Header -->
<header>
  <div class="container">
    <a class="home-link" href=""><span>Головна</span></a>
    <div class="logo"></div>
    <div class="add-twit-btn">Твіт</div>
  </div>
</header>

<!-- Home page -->
<div class="container">
    <div class="row">

        <!-- Profile short info -->
        <div class="col-sm-4 col-md-3 col-xlg-2">
            <div class="panel profile-info">
                <p class="name">Name</p>
                <div class="statistic clearfix">
                    <p class="float-left twits">
                        <span>Twits</span>
                        <span>0</span>
                    </p>
                    <p class="float-left follows">
                        <span>Follows</span>
                        <span>1</span>
                    </p>
                    <input id="users-online" type="checkbox" checked data-toggle="toggle">
                    <label for="users-online">Переглянути користувачів онлайн</label>
                </div>
            </div>
        </div>

        <!-- Twits container -->
        <div class="col-sm-8 col-md-9">
            <div class="twit-tape" ng-controller="twitlistCtrl">
                <!-- Do Your own twit -->
                <div class="user-twit">
                    <form ng-submit="twitAdd()">
                        <input class="form-control" ng-model="twitInput" type="text" placeholder="Що нового?">
                        <input class="form-control" type="submit" value="Опублікувати">
                    </form>
                </div>
                <!-- Watch all twits -->
                <div class="twit" ng-repeat="(key,twit) in twitList">
                    <div class="avatar">
                        <img src="img/icons/man.svg" alt="">
                    </div>
                    <p class="name">{{twit.firstname}} {{twit.lastname}}<span class="username">{{twit.username}}</span><span class="date">{{date | date:'yyyy-MM-dd'}}</span></p>
                    <p class="text" ng-bind="twit.twitText"></p>
                    <ul class="interactions">
                        <!-- Show input for comment -->
                        <li ng-click="toggleComment(key)">
                            <span class="icon-holder">
                                <img src="img/icons/comment.svg" alt="">
                            </span>
                        </li>
                        <!-- Like or dislike -->
                        <li ng-click="doLike(key)">
                            <span class="icon-holder" ng-class="(twit.like.userVotes==1) ? 'active' : 'not-active'">
                                <img src="img/icons/like.svg" alt="">
                                <img src="img/icons/like-active.svg" alt="">
                            </span>
                            <span class="like-number" ng-model="twit.like.votes">{{twit.like.votes}}</span>
                        </li>
                    </ul>
                    <!-- Comment section -->
                    <div class="comments-wrap" ng-if="twit.comments">
                        <p class="title">Коментарі</p>
                        <div ng-repeat="comment in twit.comments">
                            <p class="comment">{{comment}}</p>
                        </div>
                    </div>
                    <!-- Add comment to somebody's twit -->
                    <form class="add-comment-form" ng-show="commentForm" ng-submit="commentAdd(key)">
                        <input class="form-control" ng-model="commentInput" type="text" placeholder="Ваша думка з цього приводу...">
                        <input class="form-control" type="submit" value="Опублікувати">
                    </form>

                    <!-- <div ng-show="commentForm" ng-controller="CommentController as commentCtrl">
                        <h3>Comments</h3>
                        <ul>
                            <li ng-repeat="comment in post.comments">
                                "{{comment.body}}"
                            </li>
                        </ul>
                        <form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment(post)" novalidate>
                            <h4>Add Comment</h4>
                            <textarea ng-model="commentCtrl.comment.body" cols="30" rows="10" required></textarea>
                            <input type="submit" value="Submit" />
                        </form>
                    </div> -->

                </div>
            </div>                
        </div>
        <!-- Twits container end -->

    </div>
</div>

</div>

<script src="js/lib/angular.min.js"></script>
<script src="js/app.js"></script>
<!-- <script src="js/controllers/QuestionController.js"></script> -->
</body>
</html>